on:
  schedule:
  - cron:  "*/55 * * * *"
  workflow_dispatch:

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: repo-sync
      uses: repo-sync/github-sync@v2
      with:
        source_repo: "https://git.thalheim.io/Mic92/retiolum.git"
        source_branch: "master"
        destination_branch: "master"
        github_token: ${{ secrets.PAT }}
